<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-chart [labels]="data.grafico1.labels" [data]="data.grafico1.data" [type]="data.grafico1.type" [title]="data.grafico1.leyenda"></app-chart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-chart [labels]="data.grafico2.labels" [data]="data.grafico2.data" [type]="data.grafico2.type" [title]="data.grafico2.leyenda"></app-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-chart [labels]="data.grafico3.labels" [data]="data.grafico3.data" [type]="data.grafico3.type" [title]="data.grafico3.leyenda"></app-chart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-chart [labels]="data.grafico4.labels" [data]="data.grafico4.data" [type]="data.grafico4.type" [title]="data.grafico4.leyenda"></app-chart>
            </div>
        </div>
    </div>
</div>